<h1> This is abiut us page! </h1>

<h2> I have created about us page using Django </h2>

I have learned following till now :
<ul>
      <li> <b> Creating a project</b> : django-admin create project PROJECT NAME <li>
      <li> <b> Understanding the project structure </b> </li>
      <li> <b> Modifying urls.py </b> </li>
      <li> <b> Modifying views.py </b> </li>
      <li> <b> Adding templates </b> </li>
      <li> <b> Creating and submitting a form </b> </li>
      <li> <b> giving name to page in urls.py </b> </li>

<ul>
